/* КОНТЕЙНЕР */
.header-center {
  display: flex;
  justify-content: space-between;

  margin-top: 49px;
  margin-bottom: 37px;
}

/* ОГЛАВЛЕНИЯ */
.header-center__hc-title {
  margin: 0px;
  margin-left: 52px;
  
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  color: #ee3643;
}

/* КОНТАКТЫ */
.hc-contacts {
  display: flex;
  flex-direction: column;
}

.hc-contacts__tel {
  position: relative;

  width: 270px;
  height: 45px;
  padding-left: 70px;
  padding-top: 8px;
  margin-bottom: 3px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  
  border: 3px solid #ffffff;
}

.hc-contacts__tel:before {
  content: "";

  position: absolute;
  top: 6px;
  left: 12px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.hc-contacts__adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

/* ЛИЧНЫЙ КАБИНЕТ */
.pa-sign-in {
  display: flex;
}

.pa-sign-in__login-link {
  position: relative;

  padding-left: 46px;
  padding-right: 25px;
  margin-right: 10px;
}
.pa-sign-in__registration-link {
  padding: 25px;
}

.pa-sign-in__login-link,
.pa-sign-in__registration-link {
  padding-top: 9px;
  padding-bottom: 11px;
  
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background: #ffffff;
}

.pa-sign-in__login-link:hover,
.pa-sign-in__login-link:focus,
.pa-sign-in__registration-link:hover,
.pa-sign-in__registration-link:focus {
  color: #ee3643;
}

.pa-sign-in__login-link:active,
.pa-sign-in__registration-link:active {
  color: #c5c5c5;
}

.pa-sign-in__login-link:before {
  content: "";

  position: absolute;
  top: 9px;
  left: 14px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: center center;

  opacity: 0.5;
}

.pa-sign-in__login-link:hover:before {
  opacity: 1;
}

.pa-sign-in__login-link:active:before {
  opacity: 0.5;
} 

.user-main {
  width: 299px;

 
}

.user-main__user-name {
position: relative;
display: block;
height: 45px;
padding-top:14px;
padding-bottom:13px;
margin-bottom: 5px;

font-size: 21px;
line-height: 21px;
color: #000000;
text-align: center;
background-color: #fff;
  
}

.user-main__user-name:before {
  content: "";

  position: absolute;
  top: 13px;
  left:  13px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-user2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  
}

.user-main__user-name:after {
  content: "";

  position: absolute;
  top: 13px;
  right:  14px;

  width: 20px;
  height: 20px;

  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
}

.user-main__user-name:hover:before,
.user-main__user-name:focus:before,
.user-main__user-name:hover:after,
.user-main__user-name:focus:after {
  opacity: 1;
}

.user-main__my-orders:hover,
.user-main__my-orders:hover,
.user-main__per-area:focus,
.user-main__per-area:focus {
  color: #ee3643;
}


.user-main__my-orders:active,
.user-main__per-area:active,
.user-main__user-name:active,
.user-main__user-name:active:before,
.user-main__user-name:active:after {
  opacity: 0.5;
}




.user-main__my-orders,
.user-main__per-area {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: underline;
}


.user-main__my-orders {
margin-left: 15px;
}



.user-name__circle {
  display: inline-block;
  width: 4px;
  height: 4px; 
  margin: 0px 10px;
  margin-bottom: 4px;

  background-color: #32425c;

  border-radius: 50px;

}