
.advantage-head {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 68px;
}

.advantage-head__tittle {
  padding-top: 68px;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.advantage-head__text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}




.tabs {
  position: relative; /* Относительное позиционирование */
  width: 940px;
  margin: 0 auto;
  
 }

 .tabs:before {
  content: "";
  
  position: absolute;
  bottom: -55px;
  left: 230px;
  width: 10px ;
  height: 279px;

  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;

  z-index: 60;
 }

 .tab, .tab-title {
  display: block; /* Выстраиваем по горизонтали */
  width: 240px;
  height: 61px;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;

 
 }

 .tab input[type="radio"] { display: none; }
 .tab-title {
  padding: 21px;
  padding-left: 22px;
  padding-right: 140px;
  color: #fff;

  background: #32425c; /* Цвет фона */
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;

  cursor: pointer;
 }

 .tab-content {
  position: absolute; /* Абсолютное позиционирование */
  
  width: 620px;
  height: 275px;
  top: 0px;
  left: 320px; /* Размещаем у левого края */
  display: none; /* Прячем вкладку */


 }


 .tab :checked + .tab-title {
  position: relative; /* Относительное позиционирование */

  color: #32425c;

  background: #fff; /* Цвет фона */
  top: 1px; /* Сдвигаем вниз */
  z-index: 1; /* Отображаем поверх содержимого */

  box-shadow: none;
 }
 .tab :checked ~ .tab-content {
  display: block; /* Показываем активную вкладку */
 }


.advantage-description__title {
  margin: 0;
  margin-bottom: 34px;

  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;
}

.advantage-description__text {
  margin-bottom: 35px;

  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
   color: #000000;

}

.delivery-tab {
  background-image: url(../img/Layer-3.png);
  background-repeat: no-repeat;
  background-position: 150px 20px;
}

.warranty-tab {
  background-image: url(../img/Layer-2.png);
  background-repeat: no-repeat;
  background-position: 230px 20px;
}

.credit-tab {
  background-image: url(../img/Layer-1.png);
  background-repeat: no-repeat;
  background-position: 154px 20px;
}

.advantage-description__btn {
  padding: 14px 34px;
  border-radius: 3px;

}

.advantage-description__btn:hover,
.advantage-description__btn:focus {
  background: #ca2c37;
}

.advantage-description__btn:active {
  background: #ba2732;
}