.contactss__title {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.contactss__text {
  font-family: 'PT Sans', Arial, sans-serif;
  margin-top: 28px;
  margin-bottom: 26px;

  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.contactss__img {
  margin-top: 5px;
  margin-bottom: 40px;
}

.contactss__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38px;

  border-radius: 3px;
}

.contactss__btn:hover,
.contactss__btn:focus {
  background: #ca2c37;
}

.contactss__btn:active {
  background: #ba2732;
}