.footer-middle {
  display: flex;
	justify-content: space-between;
	margin-bottom: 40px;

  color: #ffffff;
  font-size: 	18px;
  line-height: 24px;
}


.footer-box-adress {
  font-size: 	18px;
  
}
.footer-middle-list {
	display: flex;
	justify-content: space-between;
	align-content:flex-start;
	align-items: flex-start;
	width: 525px;
	list-style: none;
	padding: 0;
}
.footer-middle__item {
  color: #ffd180;

}

.footer-middle__item:hover,
.footer-middle__item:focus {
	text-decoration: underline; 
}
              
.footer-middle__item:active {
	opacity: 0.5;
}
