.filter {
  width: 220px;

  font-family: 'PT Sans'

}

.filter__title {
  
  padding-left: 18px;
  padding-top: 14px;
  margin: 0;
  padding-bottom: 15px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;


  border-radius: 4px;
}

.price,
.properties,
.nutrition {
  padding: 0;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #c5c5c5;

}

.nutrition {
  border: none;
  margin-bottom: 60px;
}

.properties {
  padding-bottom: 21px;
}

.price__title,
.properties__title,
.nutrition__title {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

}





.price__range {
  height: 80px;
  border-radius: 3px;
  background: #f7f3ec;
}

  .price__band {
    position: relative;
    top: 38px;


    width: 200px;
    height: 4px;
    margin: auto;

    background: #00ca74;
    border-radius: 4px;
    box-shadow: 5px 13px 80px -23px #cccdcd;
  }


  .price__band:before {
    content: "";

    position: absolute;

    right: 0px; 

    display: block;
    width: 41px;
    height: 4px;

    background-color: #d7dcde;
  }


    .price__min,
    .price__max {
      position: absolute;
      bottom: -7px;

      width: 20px;
      height: 20px;


      background: #ffffff;

      border-radius: 50px;
      box-shadow: 0px 2px 3px 1px #cccdcd;

      cursor: pointer;
    }


    .price__max {
      left: 140px
      }


    .price__min:before,
    .price__max:before {
      content: "";

      position: absolute;
      top: 8px;
      left: 8px;
      
      display: block;
      width: 4px;
      height: 4px;
    }


    .price__value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 9px;
      margin-bottom: 25px;
    }

    .price__value-min, 
    .price__value-max {
      background-color: #f7f3ec;
      width: 95px;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 14px;

      border-radius: 4px;

    }

    .properties__text,
    .nutrition__text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 17px;

    }
    
    .properties__text,
    .nutrition__text {

      position: relative;
      padding-left: 35px;

      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      text-transform: uppercase;

      cursor: pointer;
    }

    .properties p {
      position: relative;
    }
    .properties__check {
     position: absolute;
     left: -5px;
     width: 30px;
     height: 25px;

     
      background-image: url(../img/checkbox-off.svg);
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.3;
      
      cursor: pointer;
    }


     .properties input[type="checkbox"]:checked + .properties__check {
      background-image: url(../img/checkbox-on.svg);
      background-position: 4px 0px;
     } 

     .nutrition__chekmark {
      position: absolute;
     left: -5px;
     width: 30px;
     height: 30px;

     
      background-image: url(../img/radio-off.svg);
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.3;
      
      cursor: pointer;
     }
     
     .nutrition input[type="radio"]:checked + .nutrition__chekmark{
      background-image: url(../img/radio-on.svg);
 
     } 


     .filter__btn {
      display: flex;
      justify-content: center;
      width: 140px;
      height: 38px;
      padding: 0;

      color: #000;
      font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;

      background: #fff;
      border: 1px solid #e5e5e5;

     }
