.description {
  background-color: #f4f7f9;

}
.description__title {
  width: 940px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 67px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.description__text {
  width: 940px;
  margin: 0 auto;
  
  padding-bottom: 76px;

  font-size: 14px;
  line-height: 20px;
}